<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.join.MemberMapper">
<!-- mapper : 매핑파일에 가져온 SOI을 호출하기 위한 인터페이스 -->
	<resultMap type="com.example.demo.join.member" id="Member">
		<!--resultMap: DTO클래쓰 가져다쓸려고-->
		<result property="id" column="id"/>
		<result property="pwd" column="pwd"/>
		<result property="name" column="name"/>		
		<result property="email" column="emial"/>		
	</resultMap>
	<!--  -->
	<!--  -->
	<insert id="addMember" parameterType="com.example.demo.join.member">
	<!--  parameterType: ""에 값을 하나하나 넣어주기 위한 DTO클래스-->
		insert into member values(#{id},#{pwd},#{name},#{email})
	</insert>
	<select id="getMember" resultMap="member" parameterType="String">
		<!-- parameterType:파라미터 하나의 값을 가져오기 때문에 (id만) -->
		select * from member where id=#{id}
	</select>
	<select id="getMembers" resultMap="member">
		select * from member
	</select>
	<update id="editMember" parameterType="com.example.demo.join.member">
		update member set pwd=#{pwd},email=#{email} where id=#{id}
	</update>
	<delete id="delMember" parameterType="String">
		delete from member where id=#{id}
	</delete>
</mapper>